body{
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  background-image:url("../img/1.png");
  background-repeat: no-repeat;
  background-size:100%;
}

.noconsole{
  user-select:none;
}

.top-logo{
  width:15%;
  padding-top:0px;
}

.header-news{
  text-decoration: none;
  border: none;
  margin-left: 3%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 0.2%;
  padding-bottom: 0.1%;

  color: white;
  font-size: 1.25rem;
  border-radius: 0.5vh;
  background-color: rgba(255, 255, 255, 0);

  vertical-align: 70%;
}

.header-news:hover {
  background-color: #67ccffa9;
}

.top-text{
  position:relative;
  padding-left: 52%;
  padding-top: 15%;
  margin-bottom: 2%;
  color: white;
  font-size: 2.5rem;
}

.top-join{
  text-decoration: none;
  
  position:relative;
  margin-left: 52%;

  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;

  color: #00aaff;
  font-size: 1.5rem;
  border-radius: 100vh;
  background-color: white;
}

.top-join:hover {
  text-decoration: underline;
}
